<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BodegaEntities" connectionString="metadata=res://*/Model.BodegaDB.csdl|res://*/Model.BodegaDB.ssdl|res://*/Model.BodegaDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.72.20.26;initial catalog=Demo;persist security info=True;user id=usrNetCapa;password=capacitacion;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>