<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		
		<section name="unity"
						 type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,  Microsoft.Practices.Unity.Configuration"/>
	</configSections>
	
	<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
		<assembly name="Bodega.Entidades"/>
		<assembly name="Bodega.Repositorio"/>
		<assembly name="Bodega.Datos"/>
		<!--<assembly name="Bodega.Access" />-->

		<namespace name="Bodega.Entidades"/>
		<namespace name="Bodega.Repositorio"/>
		<namespace name="Bodega.Datos.Model"/>
		<!--<namespace name="Bodega.Access" />-->

		<container>
			<register type="IRepositorio[Clientes]"
								mapTo="ClientesRepository" />
			<register type="IRepositorio[Producto]"
								mapTo="ProductoRepository" />
			<register type="IRepositorioDetalles[FacturaCabecera, FacturaDetalle]"
								mapTo="FacturaRepository" />
		</container>
	</unity>

	<connectionStrings>
		<add name="BodegaEntities"
				 connectionString="metadata=res://*/Model.BodegaDB.csdl|res://*/Model.BodegaDB.ssdl|res://*/Model.BodegaDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\v11.0;initial catalog=Demo;persist security info=True;integrated security=true;MultipleActiveResultSets=True;App=ErickOrlando&quot;"
				 providerName="System.Data.EntityClient" />

	</connectionStrings>

	<appSettings>
		<add key="Cultura" value="es-PE"/>
	</appSettings>

</configuration>